<!DOCTYPE html>
<html>
  <head>
    <title>메시지 추가</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <table>
        <tr>
          <input type="button" onclick="location.href = '/admin/insertForm'" value="추가" />
        </tr>
        <tr>
          <input type="button" onclick="location.href = '/admin/messages'" value="목록" />
        </tr>
      </table>
    </form>
  </body>
</html>
